@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mina:wght@400;700&display=swap');

body {
    background-color: black; /*change this color later*/
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    padding: 0;
    margin: 0;
}

nav {
 background-color: rgb(10, 10, 10);
 z-index: 5;
}

section {
    padding: 0;
    margin: 0;
}




.navbar {
    position: fixed;
    width: 100%;
    top: 0;
}

.nav {
/* background-color: rebeccapurple; */
    font-size: 3rem;
    color: white;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.navbar ul {
    /* background-color: pink; */
    list-style: none;
    display: flex;
    margin: 0 1rem;

}

.navbar li {
    margin: 2rem;
}

.navbar .container {
 display: flex;
}

.navbar .logo {
    color: white;
    height: 75px;
    min-width: 225px;
    font-size: 70px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a{
    color: white;
    text-decoration: none;
}


li a {
    color: aliceblue;
    text-decoration: none;
}

.header {

}

.header .container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/20210829054539_1.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.hero_image {

}

.hero_text {
    margin-top: 25px;
    
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-family: 'Mina', sans-serif;
font-size: 2rem;
}

/* .header .background_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


 } */

 .header h1 {

}

.header p {
    font-family: 'Mina', sans-serif;
    
padding: 0;
}


/* GAMES */

#games {
    background-color: black;
    color: white;
    margin-top: 0;
    padding-top: 0;
}

#games h1 {
    font-size: 10rem;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#games p {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: -50px;
    padding: 0;
    
}

#games .game_select {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    color: white;
}

.game_select img {
    width: 250px;
    max-height: 350px;
    margin-bottom: 100px;

}


#games .card img:hover{
    opacity: .5;
}


.overlay {
    display: none;
}

.card img:hover + .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -520px;
}

.card h2 {
    font-family: 'Mina';
}

.break {
    width: 100%;
    height: 10px;
    background-color: blanchedalmond;
    margin-top: 20px;
    margin-bottom: 20px;
}

.catagories {

    color: white;
    background-color: black;
    margin-top: -0px
}

.catagories .likewise {
    padding-left: 14%;
    padding-right: 14%;
    font-size: 2rem;
    text-align: center;
    max-width: 100%;
}

.likewise p {
    font-family: 'Mina';
    line-height: 40px;
}

.catagories .container {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}

.catagories .selectable a{
    color: white;
    text-decoration: none;
}
.more_games{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.more_games a {
    text-decoration: none;
    color: white;
}

.more_games a:hover {
    color: yellow;
}


/* MERCH */

#merch {
    background-color: black;
    color: white;
    margin-top: 0;
    padding-top: 0;
}

#merch h1 {
    font-size: 10rem;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#merch p {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: -50px;
    padding: 0;
}

#merch .icon_select {
    background-color: black;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}

.icon_select:hover {
}

.icon_select a {
    margin: 50px;
    padding: 25px;
    color: white;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_select a:hover {
    background-color: black;
    filter: invert(100%);
    border-radius: 10%;
}

.icon_select img {
    width: 250px;
    filter: invert(100%);
}

.icon_select img:hover {
}


/* REVIEWS */

#review {
    background-color: black;
    color: white;
    margin-top: 0;
    padding-top: 0;
}

#review .r_h1 {
    font-size: 10rem;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#review .r_p {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: -50px;
    padding: 0;
}

.review_select div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;

}

.review_select .info {
    font-size: 1.5rem;
    padding: 75px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.info p {
    font-family: 'Mina';
    line-height: 1.1;
    margin: 0 25px;
}

.review_select img {
    width: 600px;
    margin: 0 25px;
}

.more {
    font-size: 3.5rem;
}

.more a {
    text-decoration: none;
    color: white;
}

.more a:hover {
    color: yellow;
}

footer {
    background-color: rgb(5, 5, 5);
    max-height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer div{
    margin: 0;
    padding: 0;
}

footer img{
    height: 50px;
    margin-bottom: -35px;
    margin-left: 25px;
    margin-top: -20px;
    padding: 0;
    filter: invert(100%);
}

.footer {
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 2rem;
    margin: 10px;
    margin-right: 50px;
}
.footer li{
    margin: 0px 30px;
    margin-top: -25px;
}



@media only screen for(max-width: 800px) {
    
.nav-bar .nav {
    
}

}